.project-card {
    cursor: pointer;
    position: relative;
    padding-bottom:100%;
    margin-bottom: 1rem;
    overflow: hidden;

    &:hover{
        .background{
            filter: blur(4px);
        }
        .project-container{
            box-shadow: inset 0px -0.25rem 0px white;
        }
    }

    .background {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        padding: 0.25rem;
        
        opacity: 0.5;

        transition: 100ms ease-in-out;
    }

    .project-container {
        display: flex;
        align-items: center;

        padding: 1rem;

        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;

        pointer-events: inherit;

        p {
            font-size: calc(14px + 0.5vw);
            width:100%;
            text-align: center;
        }

        transition: 100ms ease-in-out;
    }
}

.project-focused {
    position: absolute;
    top: -1rem;
    left:0;
    right:0;
    bottom:0;

    h1{
        font-size: calc(14px + 2vw);
        font-weight: 400;
        text-align: center;
    }
    h2{
        font-weight: bolder;
        font-style: italic;
        font-size: calc(13px + 0.5vw);
        text-align: center;
    }

    button{
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        border: 0;
        background-color: transparent;
        color: #dddddd88;
        position: absolute;
        transition: color ease-in-out 100ms;

        &:hover{
            color:#ddddddff
        }

        &:focus{
            outline:0;
        }

        &.close{
            left:0;
        }
        &.link{
            right:0;
        }
    }
}