.skill-category{
    .row{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    h1{
        text-transform: capitalize;
    }
}

.skill-box{
    display: flex;
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    margin-top: 1rem;

    cursor: help;

    p{
        font-size: calc(14px + 0.5vw);
        width:100%;
    }

    &:hover{
        box-shadow: inset 0px -2px 0px white;
        .skill-tooltip{
            opacity: 1;
        }
    }
}

.skill-tooltip{
    z-index: 5;
    position: absolute;
    bottom:70%;
    left:0;
    right:0;
    padding: 0.5rem;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    transform: opacity 200ms ease-in-out;
    opacity:0;
    background-color: #282c34dd;
    pointer-events: none;
}