$faint: #282c3433;
$dark: #282c3488;

.tabs{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    font-size: calc(12px + 0.5vw);

    a {
        text-decoration: underline solid 2px;
        &:hover{
            text-decoration: underline solid 1px;
        }

        &.underline{
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

.tabSelector{

    color: #dddddd;
    text-align: center;
    cursor: pointer;
    font-size: calc(12px + 1.5vw);
    transition: background-color 100ms ease-in-out;
    background-color: $faint;
    &.--active{
        background-color: $dark;
    }
}

.hover{
    color: #dddddd;
    display: block;
    transition: ease-in-out 100ms;
    &:hover {
        color: #dddddd;
        transform: translate(0,-2px);
    }
}

.underline {
    border-bottom: 2px solid;
}

li{
    width:fit-content;
    text-align: justify;
}