.title{
    height: 100%;
    cursor: default;
    text-align: center;
    .hover{
        display: inline-block;
        border-bottom: 4px solid;
        transition: ease-in-out 100ms;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            transform: translate(0,-5px);
        }
    }
}

.focus-button {
    border: 0;
    background-color: transparent;
    color: #dddddd88;
    position: absolute;
    transition: color ease-in-out 200ms;

    &:hover{
        color:#ddddddff
    }

    &:focus{
        outline:0;
    }
}